@import './variables.css';

a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
}

/* Main Styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}

/* Main Content */
.main_content {
  background-color: var(--background);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  /* margin: 30px 30px 30px 0px; */
  width: 1200px;
  /* padding: 105px 90px; */
}

/* About User */
.about_user {
  padding: 80px 100px 80px 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  background-color: var(--about-user-container);
}

.name {
  font-family: var(--main-font);
  line-height: 500%;
  color: var(--name-color);
}

.first-name {
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 10px;
}

.last-name {
  font-size: 75px;
  font-style: normal;
  letter-spacing: 20px;
}

.about_position {
  margin-top: 5px;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 30px;
  letter-spacing: 10px;
  color: var(--name-color);
}

.about_discription {
  font-family: var(--secondary-text-font);
  margin-top: 35px;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--name-color);
  line-height: 30px;
}

/* Projects */

.projects {
  margin-top: 10px;
  padding: 50px 100px 20px;
}

/* Project Title  */

.title {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  color: var(--name-color);
  text-transform: uppercase;
  background-color: var(--about-user-container);
}

/* Projects List */

.projects_list {
  padding: 20px;
}

.project_list_item {
  padding: 5px;
  margin-bottom: 5px;
  color: var(--secondary-text-color);
}
.project_list_item:last-child {
  margin-bottom: 0;
}

.projects_list_weight {
  color: var(--secondary-text-color);
}

.line {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--separation-line);
}

/* Work Styles */

.work_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.work {
  margin-top: 10px;
  padding: 20px 100px 20px;
}

.work_discription {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  padding: 5px;
}

.work_list {
  padding: 5px 20px 20px 20px;
}

.work_item {
  padding: 5px;
  margin-bottom: 5px;
  color: var(--name-color);
}
.work_item:last-child {
  margin-bottom: 0;
}

.education {
  margin-top: 10px;
  padding: 20px 100px;
}

.education_title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.education_discription {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
}

.date {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
  padding: 5px;
  line-height: 150%;
}

.add_education {
  margin-top: 10px;
  padding: 20px 100px;
}

.add_education_discription {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
}

.military_service {
  margin-top: 10px;
  padding: 20px 100px;
}

/* Sidebar */
.sidebar {
  background-color: var(--sidebar-background);
  /* margin: 30px 0px 30px 30px; */
  width: 370px;
}

.photo {
  width: 370px;
}

/* Contacts */

.sidebar_title {
  text-transform: uppercase;
  background-color: var(--about-user-container);
  color: var(--name-color);
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}

.contacts {
  color: var(--background);
  margin-bottom: 10px;
  padding: 50px 80px;
}

.contacts_list {
  list-style: none;
}

.contacts_list_item {
  margin-bottom: 10px;
}

.contacts_list_item:last-child {
  margin-bottom: 0;
}

.contacts_list_link {
  color: var(--background);
}

/* Tech Skills */

.techskills {
  color: var(--background);
  margin-bottom: 10px;
  padding: 50px 80px;
}

.techskills_list {
  padding: 0 20px;
}

.techskills_item {
  margin-bottom: 10px;
  color: var(--accent-color);
}
.techskills_item:last-child {
  margin-bottom: 0;
}

.techskills_text {
  color: var(--background);
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

/* Soft Skills */

.soft_skills {
  color: var(--background);
  margin-bottom: 10px;
  padding: 50px 80px;
}

.softskills_list {
  padding: 0 20px;
}

.softskills_list_item {
  margin-bottom: 10px;
  color: var(--accent-color);
}
.softskills_list_item:last-child {
  margin-bottom: 0;
}

.softskills_text {
  color: var(--background);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.language_skills {
  color: var(--background);
  margin-bottom: 10px;
  padding: 50px 80px;
}
.language_skills {
  margin-bottom: 0;
}

.language_list {
  padding: 0 20px;
}

.language_list_item {
  margin-bottom: 10px;
  color: var(--accent-color);
}
.language_list_item:last-child {
  margin-bottom: 0;
}
